/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@600;700&family=Roboto:wght@100;400&display=swap'); */




a {
    color: black;
}

.thumbimg {
    width: 250px;
    height: 250px;
}